@import url("//fonts.googleapis.com/css?family=Josefin+Sans:300,400|Source+Sans+Pro")

// ----- My own variables -----

$pink:   #d93a62
$green:  #5e8f46
$teal:   #7ecab7
$yellow: #f3e795
$blue:   #3a87ad

$title-font:   "Josefin Sans", Helvetica, Arial, sans-serif
$heading-font: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
$label-font:   "Source Sans Pro", sans-serif

// ----- Overriding Bootstrap variables -----

$brand-primary: $pink
$brand-success: $green
$brand-info:    $teal
$brand-warning: $yellow
$brand-danger:  darken($pink, 10%)

$font-size-base: 20px

$font-family-sans-serif: $label-font
$headings-font-family: $heading-font

@import "twitter/bootstrap"
@import "mixins"

// ---- Expose variables to JavaScript -----

#primary-color
  color: $brand-primary
#success-color
  color: $brand-success
#info-color
  color: $brand-info
#warning-color
  color: $brand-warning
#danger-color
  color: $brand-danger

// ----- Global styling -----

body
  padding-bottom: 28px

main
  @extend .container

header
  margin-bottom: 28px

table
  @extend .table, .table-hover

  tr td a
    @include blue-link

form .field
  @extend .form-group

  input[type="text"], input[type="password"], textarea, select
    @extend .form-control

  input:nth-child(n+2)
    margin-top: 14px

input[type="submit"]
  @include primary-button

button, a.action
  @include primary-button

a.back
  @include neutral-button

#notice
  @include alert

#error
  @include error-alert

.user-image
  height: 100px
  width: 100px

.user-image-small
  height: 50px
  width: 50px
  border-radius: 25px
