@mixin heading-font
  font-family: $headings-font-family

@mixin button-base
  @extend .btn
  padding-left: 16px
  padding-right: 16px
  border-radius: 24px

@mixin primary-button
  @include button-base
  @extend .btn-primary

@mixin positive-button
  @include button-base
  @extend .btn-success

@mixin neutral-button
  @include button-base
  @extend .btn-info

@mixin negative-button
  @include button-base
  @extend .btn-warning

@mixin alert
  @extend .alert, .alert-info
