- content_for :header do
  %header#site-header
    %h1= link_to('Insta Pie', http_url('root'))

    %p
      makes it fun to <em>settle arguments</em> and <em>make decisions</em>

= render(:template => 'layouts/application')
